html, body {
    height:100%;
    margin: 0;
    width: 100vw;
} 

/* Navigation style */

#container-nav {
    background: #333;
    width: 100%;
    height: 2rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link-item {
    text-decoration: none;
    color: white;
    padding-right: 1.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    padding-top: 2px;
    text-align: center;
    padding-left: 20px;
}

.link-item:hover {
    border-bottom: 2px solid rgb(147, 112, 219);
    
}

/* Hero Section Styles */

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../img/wheat-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero-image {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 2px solid white;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.5em;
    border: 3px solid white; 
    background-color: rgba(147, 112, 219, 0.8);   
}

.hero .btn:hover {
    background-color: rgba(147, 112, 219, 0.9);   
}

#main-heading {
    font-family: 'Times New Roman', Times, serif;
}

#sub-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}


/* Biography Section Style */

#section-bio {
    position: relative;
    height: 75%;
}

#bio-image {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
    float: left;
    margin-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
}

#bio-text {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    margin-top: .5em; color: #666;
    padding-top: 60px;
    text-indent: 50px;
    padding: 50px;
    text-align: justify;
    
}

#bio-title {
    font-family:Georgia,serif;
	color:#4E443C;
    font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
}

/* Awards Section style */

#section-awards {
    width: 100%;
    background-color: #eee;
}

.card-container {
    width: 90%;
    margin: 0 auto;
    padding: 0.5em 0;
    background-color: #eee;
}

.awards {
    width: 90%;
    margin: 0.5em auto;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
}

.award-image,
.description {
    width: 90%;
    margin: 0 auto;
}

.award-image {
    padding: 1.2em 1em;
} 

.description {
    padding: 1em 2em;
    
}

.award-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.description p {
    font-size: 18px;
}

.description h2 {
    padding-bottom: 0.5em;  
}

#awards-title {
    font-family:Georgia,serif;
	color:#4E443C;
    font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
    text-align: center;
    font-size: 32px;
}

#awards-text {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    margin-top: .5em; color: #666;
    padding-top: 50px;
    padding: 50px;
}

#awards-link {
    text-decoration: none;
}

.awards-span {
    color: #666;
    border-bottom: 1px solid #666;
}

.awards-span:hover {
    border-bottom: 2px solid #666;
}

/* Timeline Section style */

#section-timeline {
    text-align: center;
}

#headline {
    font-family:Georgia,serif;
	color:#4E443C;
    font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
    text-align: center;
    font-size: 32px;
    padding-bottom: 40px;
    padding-top: 20px;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    margin-top: .5em; color: #666;
  }
  
li {
    margin: 16px 0;
}

figcaption {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    margin-top: .5em; color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
}

#timeline-info {
    margin-top: 10px;
    line-height: 1.5;
    background-color: #eee;
    padding-bottom: 10px;
}

/*Quote Section style */

.quote-container {
    background: #fff;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
    margin: 2em auto 0;
    padding: 1.5em;
    margin-bottom: 2em;
    font-size: 18px;
}

p { margin-bottom: 1.5em; }
p:last-child { margin-bottom: 0; }

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}
 
/* Footer style */

#container-footer {
    background: #333;
    width: 100%;
    height: 4rem;
    color: white;
    
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#link-wiki {
    text-decoration: none;
}

#wiki-text {
    color: #eee;    
    border-bottom: 1px solid #eee;
}

#wiki-text:hover {
    border-bottom: 2px solid #eee;
}

#container-title {
    text-align: center;
    padding: 20px 0 40px 0;
}




/* Media queries exclusively for cards in awards section */

@media (min-width: 640px) { 

.card-container {
        display: flex;
        flex-flow: wrap;
    }

.awards {
    flex: 1 0 48%;
    margin: 1%;
}


}

@media (min-width: 1001px) {
    .awards {
        flex: 1 0 31%;
    }

    .awards:last-of-type {
        flex-grow: 0;
    }
}

/* Media queries for 200px to 767px width devices (covers all mobile devices) */

@media only screen and (min-width: 200px) and (max-width: 767px)  {
    
    nav {
        justify-content: center;
    }

    #main-heading {
        font-size: 3em;
    }

    #sub-heading {
        font-size: 1.8em;
    }
    
    #bio-image {
        display: none;
    }

    #bio-text {
        font-size: 12px;
        padding-top: 2px;
        margin: 0;
    }

    #awards-text {
        font-size: 14px;
    }

    #image {
        width: 100%;
    }

    #img-caption {
        font-size: 14px;
    }

    #headline {
        font-size: 1.8em;
    }

    #timeline-info ul {
        font-size: 14px;
    }

    .quote-container {
        font-size: 14px;
        padding-right: 0;
        padding-left: 0;
    }

    #section-footer {
        font-size: 12px;
    }
    #section-footer h3 {
        padding-left: 10px;
    }
}

/* Media queries for 768px to 1024px width devices (covers all iPad / tablet devices) */

@media only screen and (min-width: 768px) and (max-width: 1024px)  {
    #bio-image {
        display: none;
    }

    #bio-text {
        font-size: 15px;
    }

    #img-caption {
        font-size: 15px;
    }
    
}

/* Media queries for 1024px to 1168px width devices (covers all laptop devices) */

@media only screen and (min-width: 1024px) and (max-width: 1168px)  {
    #bio-text {
        font-size: 16px;
    }
}
